.settings__box{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.54);
    z-index: 99;
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.settings{
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    background: white;
    border-radius: 7px 7px 0 0;
}
.settings__header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 170px;
}
.settings__headerImg{
    width: 100%;
    height: 100%;
}
.settings__border{
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.settings__changeCountry{
    display: flex;
    width: 100%;
    padding: 10px;
}