* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
a{
  text-decoration: none;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.gm-control-active,
.gm-fullscreen-control
.gmnoprint,
.gm-bundled-control,
.gm-bundled-control-on-bottom{
  display: none!important;
}